name: Build and Release

on:
  push:
    branches:
      - '**'
    tags-ignore:
      - '[0-9].[0-9]+.[0-9]+'

env:
  GITHUB_TOKEN: '${{ secrets.GITHUB_TOKEN }}'
  NPM_TOKEN: '${{ secrets.NPM_TOKEN }}'

permissions:
  contents: write

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2

      - name: Setup Git
        run: |
          git config user.name "GitHub Actions Bot"
          git config user.email "<>"

      - name: Cache node modules
        uses: actions/cache@v2
        env:
          cache-name: cache-node-modules
        with:
          path: ~/.npm
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-

      - name: Setup Node
        uses: actions/setup-node@v1
        with:
          node-version: '16'

      - name: Install Node Packages
        run: |
          npm ci --production=false

      - name: Build
        run: |
          npm run build

      - name: Release
        if: github.ref == 'refs/heads/master'
        run: |
          npx semantic-release
